@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  color: rgb(59, 59, 59);
  background-color: rgba(251, 251, 251, 0.38);
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(57, 57, 57, 0.2);
}

#logo {
  color: #25525d;
  display: flex;
  align-items: flex-end;
  position: relative;
}

#logo > h2 {
  font-size: 300%;
  line-height: 1;
}

#logo > img {
  width: 50px;
  height: auto;
  object-fit: cover;
  display: block;
}

#resp-menu-icon {
  color: rgb(59, 59, 59);
}

header a,
.lifehack-tags a,
.slogan a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 100%;
  list-style-type: none;
  text-align: end;
}

#menu > li {
  padding: 0.5rem 0 0.5rem 1rem;
}

#menu a:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(59, 59, 59, 0.9);
}

.active {
  border-bottom: 2px solid rgba(59, 59, 59, 0.9);
}

#menu-list {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0%;
  color: rgb(59, 59, 59);
  /* background-color: #3b3b3b; */
  border-bottom: 1px solid rgba(57, 57, 57, 0.2);
}

#resp-menu:checked ~ #menu-list {
  display: flex;
  height: 100dvh;
  justify-content: flex-end;
  padding-right: 1.5rem;
  /* background-color: rgba(59, 59, 59, 0.2); */
  background-color: (251, 251, 251, 0.2);
}

#resp-menu {
  display: none;
}

.resp-menu-label {
  font-size: 2rem;
}

.resp-menu-label:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

/* Landing page */
#welcome-section-sm {
  position: relative;
  background: url("../images/dog_on_boat.webp") no-repeat left center/cover;
  height: 100dvh;
  width: 100%;
}

.slogan {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.553);
  color: white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.slogan > h2 {
  font-size: 300%;
}

.slogan > p {
  font-size: 120%;
  padding-bottom: 1rem;
  width: 80%;
}

/* Game page */
#main-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  overflow-y: hidden;
  background-color: #58b3d3;
}

#life-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.life {
  width: 100px;
  height: 100px;
  margin: 0.5rem;

  /* Square shape */
  background: linear-gradient(145deg, #ffffff, #c1c3c6);
  border-radius: 15%;
  box-shadow: 5px 5px 8px #346d82, -5px -5px 8px #42849c;
  /* box-shadow: 5px 5px 8px rgb(80, 163, 192), -5px -5px 8px rgb(96, 195, 230); */

  /* Circle shape*/
  /* background: linear-gradient(145deg, #cacccf, #ffffff);
  border-radius: 100%;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff; */
}

#letter-container {
  background-color: rgba(251, 251, 251, 0.38);
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.letter {
  width: 80px;
  height: 80px;
  border-radius: 15%;
  border: 3px solid #2e6072aa;
  margin: 1rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}

#alphabet-container {
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas:
    "alphabet-btnA alphabet-btnB alphabet-btnC alphabet-btnD alphabet-btnE alphabet-btnF alphabet-btnG alphabet-btnH alphabet-btnI alphabet-btnJ"
    "alphabet-btnK alphabet-btnL alphabet-btnM alphabet-btnN alphabet-btnO alphabet-btnP alphabet-btnQ alphabet-btnR alphabet-btnS alphabet-btnT"
    ". . alphabet-btnU alphabet-btnV alphabet-btnW alphabet-btnX alphabet-btnY alphabet-btnZ . .";
}
/*
#btn-A {
  grid-area: alphabet-btnA;
}

#btn-B {
  grid-area: alphabet-btnB;
}

#btn-C {
  grid-area: alphabet-btnC;
}

#btn-D {
  grid-area: alphabet-btnD;
}

#btn-E {
  grid-area: alphabet-btnE;
}

#btn-F {
  grid-area: alphabet-btnF;
}

#btn-G {
  grid-area: alphabet-btnG;
}

#btn-H {
  grid-area: alphabet-btnH;
}

#btn-I {
  grid-area: alphabet-btnI;
}

#btn-J {
  grid-area: alphabet-btnJ;
}

#btn-K {
  grid-area: alphabet-btnK;
}

#btn-L {
  grid-area: alphabet-btnL;
}

#btn-M {
  grid-area: alphabet-btnM;
}

#btn-N {
  grid-area: alphabet-btnN;
}

#btn-O {
  grid-area: alphabet-btnO;
}

#btn-P {
  grid-area: alphabet-btnP;
}

#btn-Q {
  grid-area: alphabet-btnQ;
}

#btn-R {
  grid-area: alphabet-btnR;
}

#btn-S {
  grid-area: alphabet-btnS;
}

#btn-T {
  grid-area: alphabet-btnT;
}

#btn-U {
  grid-area: alphabet-btnU;
}

#btn-V {
  grid-area: alphabet-btnV;
}

#btn-W {
  grid-area: alphabet-btnW;
}

#btn-X {
  grid-area: alphabet-btnX;
}

#btn-Y {
  grid-area: alphabet-btnY;
}

#btn-Z {
  grid-area: alphabet-btnZ;
}*/

.alphabet-button {
  border: none;
  background-color: #58b3d3;
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  color: #d6f1fa;
  font-weight: 800;
  border-radius: 15%;
  box-shadow: 9.91px 9.91px 15px rgb(80, 163, 192),
    -9.91px -9.91px 15px rgb(96, 195, 230);
}

.alphabet-button:active {
  transform: translateY(5px);
}

#game-outcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 255, 0, 0.568);
  padding: 1rem;
  text-align: center;
}

.screen-container {
  display: flex;
  justify-content: center;
  height: 100dvh;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.transition-in-out {
  /* transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6); */
  transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  /* transition: transform 2.3s cubic-bezier(0.87, 0, 0.13, 1),
    opacity 2.3s cubic-bezier(0.87, 0, 0.13, 1); */
}

.flip {
  transform: scale(0);
  opacity: 0;
}

.swipe {
  transform: translate(-50px, 0px);
  opacity: 0;
}

.swirle {
  transform: rotate(90deg) scale(0);
  opacity: 0;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  /* Header */
  #menu-list {
    border: none;
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 0.8rem;
    margin: auto 0;
  }

  #menu {
    display: flex;
  }

  .resp-menu-label {
    display: none;
  }
}
