@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap");

:root {
  --primary-color: rgb(55, 161, 150);
  --primary-color-8: rgba(55, 161, 150, 0.8);
  --secondary-color: rgb(251, 251, 251);
  --secondary-color-2: rgba(251, 251, 251, 0.2);
  --secondary-color-4: rgba(251, 251, 251, 0.4);
  --secondary-color-6: rgba(251, 251, 251, 0.6);
  --font-family: "Varela Round", sans-serif;
  --text-color: rgba(59, 59, 59, 0.9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  color: var(--text-color);
  background-color: var(--secondary-color-4);
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(57, 57, 57, 0.2);
}

#logo {
  color: #25525d;
  display: flex;
  align-items: flex-end;
  position: relative;
}

#logo > h2 {
  font-size: 300%;
  line-height: 1;
}

#logo > img {
  width: 50px;
  height: auto;
  object-fit: cover;
  display: block;
}

#responsive-menu-icon {
  color: var(--text-color);
}

header a,
.lifehack-tags a,
.slogan a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 100%;
  list-style-type: none;
  text-align: end;
}

#menu > li {
  padding: 0.5rem 0 0.5rem 1rem;
}

#menu a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--text-color);
}

.active {
  border-bottom: 2px solid var(--text-color);
}

#menu-list {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0%;
  color: var(--text-color);
  border-bottom: 1px solid rgba(57, 57, 57, 0.2);
}

#responsive-menu:checked ~ #menu-list {
  display: flex;
  height: 100dvh;
  justify-content: flex-end;
  padding-right: 1.5rem;
  background-color: var(--secondary-color-2);
}

#responsive-menu {
  display: none;
}

.responsive-menu-label {
  font-size: 2rem;
}

.responsive-menu-label:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: var(--primary-color);
}

/* Landing page */
#welcome-section-sm {
  position: relative;
  background: url("../images/pineapple.webp") no-repeat center bottom / cover;
  height: 100dvh;
  width: 100%;
}

.slogan {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.553);
  color: white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.slogan > h2 {
  font-size: 300%;
}

.slogan > p {
  font-size: 120%;
  padding-bottom: 1rem;
  width: 80%;
}

/* Rules page */
#main-rules-container {
  position: relative;
  background: url("../images/rules.webp") no-repeat center bottom / cover;
  height: 100dvh;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 5rem;
  padding: 1.5rem;
  background-color: var(--secondary-color-2);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--secondary-color-4);

  /* Align p elements*/
  text-align: justify;
}

#rules-list {
  list-style-type: none;
  text-align: justify;
}

#rules-list > li {
  padding: 0.5rem 0;
}

.rules-call {
  padding: 0.5rem 0;
}

.start-game-button {
  color: var(--secondary-color);
  letter-spacing: 1px;
  font-size: x-large;
  padding: 1rem 3rem;
  width: fit-content;
  text-align: center;
  text-decoration: none;

  background-color: rgb(4, 109, 130);
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(4, 126, 146);
}

.start-game-button:hover {
  cursor: pointer;
}

/* Game page */
#main-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  height: 100dvh;
  overflow-y: hidden;
  background-color: var(--primary-color-8);
  background: url("../images/rules.webp") no-repeat center bottom / cover;
}

#life-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.life {
  width: 100px;
  height: 100px;
  margin: 0.5rem;

  /* Square shape */
  background: linear-gradient(145deg, #ffffff, #c1c3c6);
  border-radius: 15%;
  box-shadow: -5px -5px 8px rgba(41, 121, 113, 0.5);
}

#letter-container {
  background-color: var(--secondary-color-2);
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.letter {
  width: 80px;
  height: 80px;
  border-radius: 15%;
  border: 3px solid #2e6072aa;
  margin: 1rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}

#alphabet-container {
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas:
    "alphabet-btnA alphabet-btnB alphabet-btnC alphabet-btnD alphabet-btnE alphabet-btnF alphabet-btnG alphabet-btnH alphabet-btnI alphabet-btnJ"
    "alphabet-btnK alphabet-btnL alphabet-btnM alphabet-btnN alphabet-btnO alphabet-btnP alphabet-btnQ alphabet-btnR alphabet-btnS alphabet-btnT"
    ". . alphabet-btnU alphabet-btnV alphabet-btnW alphabet-btnX alphabet-btnY alphabet-btnZ . .";
}

.alphabet-button {
  border: none;
  /* background-color: var(--primary-color); */
  /* background-color: rgba(4, 81, 104, 0.8); */
  background-color: rgb(4, 109, 130);
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  color: #d6f1fa;
  font-weight: 800;
  border-radius: 15%;
  box-shadow: -5px -5px 8px rgba(41, 121, 113, 0.5);
}

.alphabet-button:active {
  transform: translateY(5px);
}

#game-outcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 255, 0, 0.568);
  padding: 1rem;
  text-align: center;
}

.screen-container {
  display: flex;
  justify-content: center;
  height: 100dvh;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.transition-in-out {
  transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.flip {
  transform: scale(0);
  opacity: 0;
}

.swipe {
  transform: translate(-50px, 0px);
  opacity: 0;
}

.swirle {
  transform: rotate(90deg) scale(0);
  opacity: 0;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  /* Header */
  #menu-list {
    border: none;
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 0.8rem;
    margin: auto 0;
  }

  #menu {
    display: flex;
  }

  .responsive-menu-label {
    display: none;
  }
}
